<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script
        		type="text/javascript"
			src="{{ url_for('static', filename='js/index.js') }}"
			></script>
	</head>
	<body>
		<h1> NEXT fluege.de </h1>

		<div style="width: 100%; ">
		<div id="input" style="width: 50%; float: left;">
			    <label for="flightclass">Klasse:</label> <br>
                <input type="radio" name="flightclass" value="economy" checked> 
                <label for="economy">Economy</label> <br>
				<input type="radio" name="flightclass" value="premium_economy"> 
				<label for="premiumeconomy">Premium Economy</label> <br>
				<input type="radio" name="flightclass" value="buisness"> 
				<label for="buisness">Buisness</label> <br>
				<input type="radio" name="flightclass" value="first"> 
				<label for="first">First</label> <br>
			        <hr>
				<label>Reisende:</label> <br>
				<input type="number" name="adults" id="adults" value="2">
				<label for="adults">Erwachsene</label> <br>
				<input type="number" name="children" id="children" value="0">
				<label for="children">Kinder</label> <br>
				<input type="number" name="infants" id="infants" value="0">
				<label for="infants">Babys</label> <br>
				<hr>

  				<label for="fromplace">Von:</label><br>
  				<input type="text" id="fromplace" name="fromplace" value="LEJ"><br>
  				<label for="toPlace">Nach:</label><br>
				<input type="text" id="toplace" name="toplace" value="JFK"><br>
				<div id="second_locations" >
				    <label for="fromplace2">Rückflug von:</label><br>
  				    <input type="text" id="fromplace2" name="fromplace2" value="JFK"><br>
				    <label for="toplace2">Rückflug nach:</label><br>
  				    <input type="text" id="toplace2" name="toplace2" value="BER"><br>				
				</div>

				<hr>		
				<label for="flighttype">Flugart:</label><br>
				<input type="radio" id="single" name="flighttype" checked value="single" onchange="input_changed()" >
  				<label for="single">Nur Hinflug</label><br>
  				<input type="radio" id="double" name="flighttype" value="double" onchange="input_changed()">
  				<label for="double">Hin und Zurück</label><br>
  				<input type="radio" id="openjaw" name="flighttype" value="open_jaw" onchange="input_changed()">
  				<label for="openjaw">Gabelflug</label>
				<hr>

				<label for="date_from">Abflugsdatum Hinflug:</label>
                <input type="date" id="datefrom" name="date_from" value="2023-12-24">
				<input type="checkbox" id="flexdate1" name="flexdate1" value="">
				<label for="flexdate2"> Flexdate</label><br>
				<div id = date2>
					<label for="dateto">Abflugsdatum Rückflug:</label>
                	<input type="date" name="dateto" id="dateto" value="2023-12-27">		        	
					<input type="checkbox" id="flexdate2" name="flexdate2" value="">
					<label for="flexdate2"> Flexdate</label><br>
				</div>

                <hr>
				<input type="submit" name="submit" value="Finde Flug" onclick="input_submit()">
				<hr>

				
		</div>

		<div id="user" style="margin-left: 50%; ">
		Userdata:
		<label for="devicetype">devicetype:</label> <br>
        <input type="radio" name="devicetype" value="DESKTOP" checked> 
        <label for="DESKTOP">DESKTOP</label> <br>
		<input type="radio" name="devicetype" value="ANDROID"> 
		<label for="ANDROID">ANDROID</label> <br>
		<input type="radio" name="devicetype" value="IOS"> 
		<label for="IOS">IOS</label> <br>

		<label for="user_type">user type:</label> <br>
        <input type="radio" name="user_type" value="PREMIUM"> 
        <label for="PREMIUM">Premium Abo</label> <br>
		<input type="radio" name="user_type" value="MEMBER"> 
		<label for="MEMBER">Mitglied</label> <br>
		<input type="radio" name="user_type" value="GUEST" checked> 
		<label for="GUEST">Gast</label> <br>
		
		</div>
		</div>

		<hr id = "over results">
		<div id="results">		
		results:

		</div>
	<script>
		init();
	</script>	
	</body>
        
</html>
